@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Public Sans";
}

*::after, *::before{
    box-sizing: inherit;
}

@import "./normalize";
@import "./fonts";
@import "./varibales";
@import "./container";

ul,li{
    list-style:none;
}
a{
    text-decoration: none;
}