.navbar{
    padding: 20px 0;
    &__toogle{
        display: none;
    }
    &__list{
        width: 400px;
    & a{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #33323D;
        transition: 0.5s;
        &:hover{
            color: green;
        }
    }
    }

}


@media (max-width:579px){
    .navbar{
        &__list{
            display: none;
        }
        &__toogle{
            display: flex;
        }
    }
}